*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
}

#modal-box-flex-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 32, 32, .6);
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms;
}

#modal-box{
    display: grid;
    position: absolute;
    width: 50vw;
    height: 50vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "modal-header" "modal-correct-answer" "modal-play-again";;
}

#modal-header{
    margin: 0;
    grid-area: modal-header;
    background-color: rgb(32, 32, 32);
    color: white;
    font-weight: bold;
    font-size: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vmin 5vmin 0 0;
    border-top: 2px white solid;
    border-left: 2px white solid;
    border-right: 2px white solid;
}

#modal-correct-answer-container{
    grid-area: modal-correct-answer;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#answer-message{
    font-size: 3vmin
}

#answer-square{
    height: 10vmin;
    width: 10vmin;
    background-color: black;
    border-radius: 2.5vmin;
}

#play-again-button{
    height: 100%;

    color: teal;
    background: white;
    border-radius: 0px 0px 5vmin 5vmin;
    border: 2px teal solid;

    font-size: 5vmin;
    
    transition: background-color 300ms;
}

#play-again-button:hover{
    color: white;
    background-color: teal;
    
    transition: background-color 300ms;
}

#game-container{
    display: grid;
    grid-template-rows: 1fr 50px 5fr;
    grid-template-areas: "header" "menu" "content";
    height: 100%;
}

#header-container{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;  
    
    color: white;
    background-color: teal;

    font-weight: bold;
}

#first-line{
    margin: 10px 0px 0px 0px;

    font-size: 3vmin;
}

#answer-color{
    margin: 0px;

    font-size: 10vmin;
    font-weight: normal;
}

#last-line{
    margin: 0px 0px 10px 0px;

    font-size: 3vmin;
}

#menu-container{
    grid-area: menu;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    justify-items: center;
}

#new-colors-button{
    height: 100%;

    color: teal;
    background: none;
    border: none;
    
    transition: all 300ms;
}

#new-colors-button:hover{
    color: white;
    background-color: teal;
    
    transition: all 300ms;
}

#feedback{
    height: 100%;

    color: teal;
    visibility: hidden;
}

#stats-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: teal;
}

#lives{
    font-weight: bold;
}

#squares-container{
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "square square square" 
        "square square square";
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;

    background-color: rgb(32, 32, 32);
}

.square{
    height: 30vmin;
    width: 30vmin;
    
    background-color: black;
    border: 1px white solid;
    border-radius: 5vmin;
}