*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#game-container{
    display: grid;
    grid-template-rows: 150px 50px 1fr;
    grid-template-areas: "header" "menu" "content";
    height: 100%;
}

#header-grid-container{
    grid-area: header;
}

#header-container{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
    margin: 0px;
}

#first-line{
    margin: 10px 0px 0px 0px;
}

#answer-color{
    font-size: 64px;
    font-weight: normal;
    margin: 0px;
}

#last-line{
    margin: 0px 0px 10px 0px;
}

#menu-grid-container{
    grid-area: menu;
}

#menu-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

#new-colors-button{
    background: none;
    border: none;
    color: teal;
    transition: all 300ms;
    height: 100%;
}

#new-colors-button:hover{
    background-color: teal;
    color: white;
    transition: all 300ms;
}

#feedback{
    visibility: hidden;
}

#squares-grid-container{
    grid-area: content;
}

#squares-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0px, repeat(2, 1fr) 0px;
    grid-template-areas: 
        "square square square" 
        "square square square";
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
}

#spacer-top {
    grid-area: spacer-top;
}

#spacer-bottom{
    grid-area: spacer-bottom;
}

.square{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background-color: black;
    border: 1px white solid;
}