html, body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#game-container{
    display: grid;
    grid-template-rows: 150px 50px 100%;
    grid-template-areas: "header" "menu" "content";
    height: 100%;
}

#header-grid-container{
    grid-area: header;
}

#menu-grid-container{
    grid-area: menu;
}

#menu-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#squares-grid-container{
    grid-area: content;
}

#squares-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0px, repeat(2, 100) 0px;
    grid-template-areas: 
        "square square square" 
        "square square square";
    gap: 50px 50px;
    justify-content: center;
    justify-items: center;
}

#spacer-top {
    grid-area: spacer-top;
}

#spacer-bottom{
    grid-area: spacer-bottom;
}










.square{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background-color: black;
    border: 1px white solid;
}